In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
with open('C:/Users/ducha/.api_keys/census_api.txt') as f:
    api_key = json.load(f)['api_key']

In [ ]:
def api_call(variables, api_key):
    pass

In [47]:
url_head = 'https://api.census.gov/data/2018/acs/acs1/profile?get=NAME'
variables = ['DP02_0058E', 'DP02_0060E', 'DP02_0060PE', 'DP02_0060M']



response = requests.get(f"{url_head},{','.join(variables)}&for=state:*&key={api_key}")

In [52]:
df = pd.DataFrame(response.json()[1:])
df.columns = response.json()[0]
df.head()

           NAME DP02_0058E DP02_0060E DP02_0060PE DP02_0060M state
0      Illinois    8706376     510902         5.9      12877    17
1          Iowa    2104792      97697         4.6       4946    19
2      Missouri    4182787     278462         6.7       9717    29
3        Nevada    2096574     164010         7.8       6392    32
4  Pennsylvania    8994627     532792         5.9      11503    42

In [56]:
df.NAME.value_counts()

Georgia                 1
Tennessee               1
Iowa                    1
Kansas                  1
Virginia                1
Illinois                1
Mississippi             1
Arizona                 1
District of Columbia    1
Missouri                1
Massachusetts           1
Rhode Island            1
Indiana                 1
Oregon                  1
Hawaii                  1
North Dakota            1
Vermont                 1
Kentucky                1
New York                1
Maryland                1
Colorado                1
Montana                 1
Nebraska                1
Maine                   1
Wyoming                 1
Wisconsin               1
Florida                 1
Alaska                  1
Puerto Rico             1
New Jersey              1
Connecticut             1
California              1
Arkansas                1
Louisiana               1
Utah                    1
South Dakota            1
New Mexico              1
Nevada                  1
Ohio                    1
Pennsylvania            1
North Carolina          1
New Hampshire           1
Michigan                1
South Carolina          1
Delaware                1
Alabama                 1
Oklahoma                1
Washington              1
Texas                   1
West Virginia           1
Idaho                   1
Minnesota               1
Name: NAME, dtype: int64

In [29]:
f"{url_head},{','.join(variables)}&for=congressional%20district:*&in=state:*&key={api_key}"

'https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP02_0058E,DP02_0058PE&for=congressional%20district:*&in=state:*&key=7feb4b9b31d10f7cf686de5ea2efd71b4fd6c1e2'